Repository sharapov2701/nuxt-crm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

test lintstaged
  app.vue
Due: eslint --fix

modify eslint config
  .eslintrc.cjs
Due: none

Revert "test lintstaged"
  app.vue
Due: eslint --fix

create layout
  app.vue
  layouts/default.vue
  nuxt.config.ts
Due: eslint --fix

Create sidebar
  components/layout/Sidebar.vue
  layouts/default.vue
  nuxt.config.ts
  package-lock.json
  package.json
  public/loader.svg
  public/logo.svg
  tailwind.config.js
Due: eslint --fix, prettier --write

install shadcn
  assets/css/tailwind.css
  components.json
  lib/utils.ts
  nuxt.config.ts
  package-lock.json
  package.json
  tailwind.config.js
Due: eslint --fix, prettier --write

add button component
  components/ui/button/Button.vue
  components/ui/button/index.ts
  nuxt.config.ts
Due: eslint --fix

setup base styles and font
  assets/css/tailwind.css
  nuxt.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

disable eslint rule
  .eslintrc.cjs
  tailwind.config.js
Due: eslint --fix

configure tailwind
  tailwind.config.js
Due: eslint --fix

customize button
  components/ui/button/Button.vue
  components/ui/button/index.ts
Due: eslint --fix

remove comments
  tailwind.config.js
Due: eslint --fix

add nuxt-icon
  components/layout/Sidebar.vue
  nuxt.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

add menu
  components/layout/Menu.vue
  components/layout/Sidebar.vue
  components/layout/menu.data.ts
Due: eslint --fix

install and connect to appwrite
  lib/appwrite.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

create index and login pages
  .eslintrc.cjs
  app.vue
  components/ui/input/Input.vue
  components/ui/input/index.ts
  package-lock.json
  package.json
  pages/index.vue
  pages/login.vue
Due: eslint --fix, prettier --write

update login form
  pages/login.vue
Due: eslint --fix

install dependencies
  package-lock.json
  package.json
Due: prettier --write

create auth store
  store/auth.store.ts
Due: eslint --fix

update login page
  pages/login.vue
Due: eslint --fix

add badge component
  components/ui/badge/Badge.vue
  components/ui/badge/index.ts
Due: eslint --fix

fix import error
  components/ui/badge/Badge.vue
Due: eslint --fix

add card component
  components/ui/card/Card.vue
  components/ui/card/CardContent.vue
  components/ui/card/CardDescription.vue
  components/ui/card/CardFooter.vue
  components/ui/card/CardHeader.vue
  components/ui/card/CardTitle.vue
  components/ui/card/index.ts
Due: eslint --fix

update input
  components/ui/input/Input.vue
Due: eslint --fix

add ui skeleton
  components/ui/skeleton/Skeleton.vue
  components/ui/skeleton/index.ts
Due: eslint --fix

add table component
  components/ui/table/Table.vue
  components/ui/table/TableBody.vue
  components/ui/table/TableCaption.vue
  components/ui/table/TableCell.vue
  components/ui/table/TableEmpty.vue
  components/ui/table/TableFooter.vue
  components/ui/table/TableHead.vue
  components/ui/table/TableHeader.vue
  components/ui/table/TableRow.vue
  components/ui/table/index.ts
Due: eslint --fix

implement logout
  components/layout/Sidebar.vue
Due: eslint --fix

add loader
  components/layout/Loader.vue
Due: eslint --fix

add auth logic to layout
  layouts/default.vue
Due: eslint --fix

add class name helper
  components/ui/badge/Badge.vue
  components/ui/button/Button.vue
  components/ui/card/Card.vue
  components/ui/card/CardContent.vue
  components/ui/card/CardDescription.vue
  components/ui/card/CardFooter.vue
  components/ui/card/CardHeader.vue
  components/ui/card/CardTitle.vue
  components/ui/input/Input.vue
  components/ui/skeleton/Skeleton.vue
  components/ui/table/Table.vue
  components/ui/table/TableBody.vue
  components/ui/table/TableCaption.vue
  components/ui/table/TableCell.vue
  components/ui/table/TableEmpty.vue
  components/ui/table/TableFooter.vue
  components/ui/table/TableHead.vue
  components/ui/table/TableHeader.vue
  components/ui/table/TableRow.vue
  lib/index.ts
Due: eslint --fix

setup vue query
  plugins/vue-query.ts
Due: eslint --fix

init help page
  pages/help.vue
Due: eslint --fix

init feedback page
  pages/feedback.vue
Due: eslint --fix

init settings page
  pages/settings.vue
Due: eslint --fix

init stat page
  pages/stat.vue
Due: eslint --fix

create kanban
  components/kanban/CreateDeal.vue
  components/kanban/generate-gradient.ts
  components/kanban/kanban.data.ts
  components/kanban/kanban.types.ts
  components/kanban/slideover/Comments.vue
  components/kanban/slideover/Label.vue
  components/kanban/slideover/Slideover.vue
  components/kanban/slideover/Top.vue
  components/kanban/slideover/useComments.ts
  components/kanban/slideover/useCreateComment.ts
  components/kanban/useKanbanQuery.ts
  lib/convertCurrency.ts
  pages/index.vue
  store/deal-slide.store.ts
  types/deals.types.ts
Due: eslint --fix

fix imports
  components/ui/badge/Badge.vue
  components/ui/button/Button.vue
  components/ui/card/Card.vue
  components/ui/card/CardContent.vue
  components/ui/card/CardDescription.vue
  components/ui/card/CardFooter.vue
  components/ui/card/CardHeader.vue
  components/ui/card/CardTitle.vue
  components/ui/input/Input.vue
  components/ui/skeleton/Skeleton.vue
  components/ui/table/Table.vue
  components/ui/table/TableBody.vue
  components/ui/table/TableCaption.vue
  components/ui/table/TableCell.vue
  components/ui/table/TableEmpty.vue
  components/ui/table/TableFooter.vue
  components/ui/table/TableHead.vue
  components/ui/table/TableHeader.vue
  components/ui/table/TableRow.vue
  layouts/default.vue
  lib/utils.ts
  utils/appwrite.ts
  utils/convertCurrency.ts
  utils/index.ts
Due: eslint --fix

add customer page
  pages/customers/edit/[id].vue
  pages/customers/index.vue
Due: eslint --fix

init orders page
  pages/orders.vue
Due: eslint --fix

init payments page
  pages/payments.vue
Due: eslint --fix

Path conditions:
  eslint --fix: ((any of: *.js) or (any of: *.ts)) or (any of: *.vue)
  prettier --write: ((any of: *.html) or (any of: *.scss)) or (any of: *.json)
