Repository sharapov2701/nuxt-crm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.vue": "eslint --fix",
  "*.html": "prettier --write",
  "*.scss": "prettier --write",
  "*.json": "prettier --write"
}

init proructs page
  pages/products.vue
Due: eslint --fix

update components config
  components.json
Due: prettier --write

updage nuxt config
  nuxt.config.ts
Due: eslint --fix

replace constants with env variables
  components/kanban/CreateDeal.vue
  components/kanban/slideover/useComments.ts
  components/kanban/slideover/useCreateComment.ts
  components/kanban/useKanbanQuery.ts
  pages/customers/edit/[id].vue
  pages/customers/index.vue
  pages/index.vue
Due: eslint --fix

update deps
  package-lock.json
Due: prettier --write

Create nuxtjs.yml
  .github/workflows/nuxtjs.yml
Due: none

Create deploy.yml
  .github/workflows/deploy.yml
Due: none

Delete .github/workflows/nuxtjs.yml
  .github/workflows/nuxtjs.yml
Due: none

fix deployment error
  .nojekyll
Due: none

edit base url for GH pages
  nuxt.config.ts
Due: eslint --fix

fix appwrite
  utils/appwrite.ts
Due: eslint --fix

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

update nuxt config for env variables
  nuxt.config.ts
Due: eslint --fix

use runtime config
  components/kanban/CreateDeal.vue
  components/kanban/slideover/useComments.ts
  components/kanban/slideover/useCreateComment.ts
  components/kanban/useKanbanQuery.ts
  nuxt.config.ts
  pages/customers/edit/[id].vue
  pages/customers/index.vue
  pages/index.vue
  utils/appwrite.ts
Due: eslint --fix

Delete github files
  .github/workflows/deploy.yml
Due: none
